body {
    background-color: rgb(248, 248, 248);
    margin-left: 10px;
  }

.terminal {
    background-color: black;
    color: rgb(0, 208, 45);
    font-family: monospace;
    white-space: pre-wrap;
  }

  #singleshot_state_text {
    display: inline-block;
    width: 80%;
  }

  #triggerSingleShot_button {
    margin-bottom: 10px;
  }

  #singleshot_state {
    background-color: rgb(94, 93, 93);
    color: white;
    margin-left: 1px;
  }

  #HistoryText {
    resize: both;
    overflow: auto;
  }

  #ParamData {
    padding-bottom: 10px;
  }

  #save {
    transition: background-color 0.5s ease-in-out;
  }

  .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
  }
  
  